<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Manganum: The Productivity Extension</title>
      <link rel="stylesheet" href='static/style.css'>
      <link rel="icon" type="image/x-icon" href="/static/download.png">
      <script src="static/script.js"></script>
</head>

<body>
      <div id="navbar" class="sticky">
            <nav>
                  <img src="static/download.png" alt="Manganum Logo">
                  <div>
                        <p>
                              <a href="" class="list">About</a>
                              <a href="" class="list">Features</a>
                              <a href="" class="list">Compare</a>
                              <a href="" class="list">Resources</a>
                        </p>
                  </div>
            </nav>
      </div>

      <div id="body">
            <h1>The #1 Productivity Extension</h1>
            <a href="https://chrome.google.com/webstore/detail/manganum-1-productivity-n/jbfeongihppeenfnaofmdeikahaefljd?utm_source=manganum.app" id="add">Add to Chrome</a>
      </div>
</body>

</html>